.head-container{
    background-image: url(./assets/images/Web-Development.jpg) ;
    position:relative;
    padding-top: 100px;
    padding-bottom: 50px;
    height: 1000px;
}
div{
    display: block;
}
body{
    color:aliceblue;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h3{
    color: aqua;
}

h2{
    color: aqua;
    font-size: 50px;
    margin: 50px;
    font-family:Sacramento,cursive;
}

p{
    line-height: 2;
    margin-top: 50px;
    font-size: 20px;
}

.head-container>img{
    margin:160px;
    border-radius: 50%;
    height: 450px;
    width:450px;
    
}
.middle-container{
    margin-bottom: 90px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.middle-container>img{
    border-radius: 50%;
    margin:50px;
    height: 250px;
    width: 250px;
}

.skills{
    margin-top: 100px;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.skills img{
    margin-right: 100px;
    margin-bottom: 50px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.contact-me{
    margin-top: 100px;
}

.btn{
    background-color:aquamarine;
    font-size: 30px;
    border-radius: 10%;
    margin-bottom: 50px;
}

.lower-container{
    background-color:rgb(250, 227, 215);
    margin-top: 40px;
    padding: 50px;
}

.nav-item{
    color: white;
    font-size: x-large;
}
